/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2014, 1:06:02 PM
    Author     : amendrashrestha
*/

body {
    margin: 40px;
    padding: 20px 100px 0px 100px;
    color: #000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em; 
}

h1{
    padding: 10px 0;
    font-size: 20px;
    color: #AA4643;
}

h2{
    padding: 10px 0;
    font-size: 15px;
    color: #AA4643;
}

#txtForm {
    margin: 20px;
}

nav{
    padding: 0;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul{
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after{
    content: ""; clear: both; display: block;
}

nav ul li{
    float: right;
}

nav ul li a{
    display:block;
    padding: 5px 15px;
}

nav ul ul{
    background: #5f6975;
    padding: 0;
    border-radius: 0px;
    position: absolute;
    top: 100%;
}

nav ul ul li{
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a{
    padding: 5px 15px;
}


#logo{
    float: right;
    display: block;
    padding-left: 20px;
}

#styloContainer{
    padding-top: 100px;
}
#timeContainer{
    padding-top: 40px;
}

#selectUser{
    float: right;
    padding-bottom: 40px;
}

#textBox{
    float: right;
}

#submit{
    float: right; 
}

td{
    height: 35px;
}

